<mat-card-title>
  <div fxLayoutAlign="center center">
    <div class="header" fxLayout="column" fxLayoutAlign="center center" *ngIf="showUserForm">
      <p>SISMED</p>
      <p>Redefinição de senha</p>
    </div>

    <div class="header-change-password" fxLayout="column" fxLayoutAlign="center center" *ngIf="showChangePasswordForm">
      <p>E-mail enviado com sucesso!</p>
      <p>Em alguns instantes você receberá um email com o código para a redefinição da sua senha</p>
    </div>
  </div>
</mat-card-title>

<mat-card-content>
  <form [formGroup]="userForm" #frm="ngForm" (ngSubmit)="verifyUser()" *ngIf="showUserForm">
    <div class="fields" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Insira seu CPF pra continuar" mask="000.000.000-00" autocomplete="off"
          formControlName="cpf" required>
      </mat-form-field>
      <button mat-stroked-button type="submit" class="btn-success btn-spacer" [disabled]="frm.invalid">
        <fa-icon [icon]="faCheck"></fa-icon> Verificar CPF
      </button>
    </div>
  </form>

  <form #frm="ngForm" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()" *ngIf="showChangePasswordForm">
    <div class="fields" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" placeholder="Insira sua senha" autocomplete="off" formControlName="password"
          required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput placeholder="Insira sua senha" autocomplete="off" formControlName="code" required minlength="16"
          maxlength="16">
      </mat-form-field>

      <button mat-stroked-button type="submit" class="btn-success btn-spacer" [disabled]="frm.invalid">
        <fa-icon [icon]="faCheck"></fa-icon> Redefinir senha
      </button>
    </div>
  </form>


  <div class="loading-email" fxLayout="column" fxLayoutAlign="center center" *ngIf="loadingEmail">
    <mat-spinner></mat-spinner>
    <p>Estamos enviando um e-mail para o e-mail no seu cadastro.</p>
    <p>Você receberá um código para redefinir a sua senha</p>
  </div>
</mat-card-content>