.header{
  background-color: #f3f3f3;
  padding: 10px 20px;
  border-radius: 10px;
  width: 20%;
}

.header-change-password{
  background-color: #22bb33;
  padding: 10px 20px;
  border-radius: 10px;
  width: 40%;
}

.header-change-password p {
  color: #ffffff;
  font-size: 1.3rem;

}

#attentionMessage{
  color: #ff0d00;
  font-size: 1.1rem;
  font-weight: bold;
}

#attentionIcon{
  color: #ff0d00;
  padding: 0;
  margin: 0;
  font-weight: bold;

}

.attentionCard{
  background-color: #f1f1f1;
  border-radius: 30px;
  width: 60%;
  text-align: center;
  justify-content: center;

}

form{
  padding: 3rem;
}

.fields > * {
  width: 25%;
}

.fields mat-form-field + button{
  height: 3rem;
}

.loading-email{
  width: 100%;
}

.loading-email p {
  margin-top: 2rem;
  font-size: 1.3rem
}

.loading-email p + p {
  margin-top: 1rem;
}

.logIn{
  margin-top: 1rem;
  text-decoration: none;
  cursor: pointer;

}

.resendEmailButton{
  text-emphasis: none;
  margin-top: 20px;
  cursor: pointer;
}

.successUpdated p{
  color: #22bb33;
  font-weight: bold;
  font-size: 1.3rem;
}


