<div fxLayout="row" fxLayoutAlign="end start">
  <button mat-dialog-close mat-icon-button class="closeButton" title="Fechar">
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
</div>

<div fxLayout="row" fxLayoutAlign="center center" class="convenioSelect" *ngIf="showSelect">
  <mat-form-field appearance="fill" style="width: 90%">
    <mat-label>Selecione o Convênio</mat-label>
    <mat-select [(ngModel)]="convenioSelected" (selectionChange)="getTipos()">
      <mat-option *ngFor="let convenio of convenios" [value]="convenio.id">
        {{ convenio.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayout="column" fxLayoutAlign="space-evenly center" *ngIf="hasData">
  <ul>
    <li>
      <mat-checkbox [checked]="allSelected" (change)="selectedAll()" [indeterminate]="someComplete()">
        {{ allSelected ? "Desmarcar Todos" : "Selecionar Todos" }}
      </mat-checkbox>
    </li>
    <li *ngFor="let tipo of tipos">
      <mat-checkbox [(ngModel)]="tipo.selected">
        {{ tipo.nome }}
      </mat-checkbox>
    </li>
  </ul>

  <div fxLayout="row">
    <mat-dialog-actions>
      <button class="btn-success" mat-stroked-button (click)="delete()">
        <fa-icon [icon]="faCheck"></fa-icon> Excluir
      </button>
      <button class="btn-danger" mat-stroked-button mat-dialog-close>
        <fa-icon [icon]="faBan"></fa-icon> Cancelar
      </button>
    </mat-dialog-actions>
  </div>
</div>

<!-- Exibe os tipos de convenios selecionados -->
<div fxLayout="column " fxLayoutAlign="center center" *ngIf="showLoadingData" class="loading-data">
  <h5 fxLayoutAlign="center center">Cadastrando Planos</h5>
  <app-loading-data [message]="loadingDataMessage" *ngIf="awaitResponse"></app-loading-data>
  <h5 fxLayoutAlign="center center" style="color: #5cb85c" *ngIf="!awaitResponse && !responseError">Planos excluídos
    com sucesso!</h5>
  <h5 fxLayoutAlign="center center" style="color: #bb2124" *ngIf="!awaitResponse && responseError">Planos excluídos
    com sucesso!</h5>
  <h5 fxLayoutAlign="center center" *ngIf="!awaitResponse && responseError">Erro ao tentar cadastrar os planos</h5>
  <button mat-stroked-button class="btn-sismed btn-spacer" style="margin-top: 1rem" (click)="newOperation()"
    *ngIf="showNewOperationButton">
    <fa-icon [icon]="faPlus"></fa-icon> Realizar nova operação
  </button>
</div>

<div id="loading-data" fxLayoutAlign="space-between center" fxLayout="column" *ngIf="isLoading">
  <app-loading-data [message]="loadingDataMessage"></app-loading-data>
</div>
