<mat-card-title class="mat-card-title">
  <span fxLayoutAlign="center center">{{action}} </span>
</mat-card-title>

<mat-card-content>

  <div fxLayout="column" fxLayoutAlign="space-evenly center" class="list-tables" *ngIf="showOptions">
    <mat-form-field appearance="outline" style="margin: 1rem 0; width: 20%;">
      <mat-label>O que deseja fazer?</mat-label>
      <mat-select [formControl]="actionControl" required (selectionChange)="selectedOpition()">
        <mat-option selected hidden disabled>Selecione um</mat-option>
        <mat-option [value]="1">Backup</mat-option>
        <mat-option [value]="2">Restore</mat-option>
      </mat-select>
    </mat-form-field>

    <ul *ngIf="showTables">
      <li>
        <mat-checkbox [checked]="allSelected" (change)="selectedAll();" [indeterminate]="someComplete()">
          {{allSelected ? 'Desmarcar Todos' : 'Selecionar Todos'}}
        </mat-checkbox>
      </li>
      <li *ngFor="let table of tables">
        <mat-checkbox [(ngModel)]="table.selected">
          {{table.nome}}
        </mat-checkbox>
      </li>
    </ul>

    <mat-form-field *ngIf="showRestoreDate" style="margin-top: 1rem; width: 20%;" appearance="outline">
      <mat-label>Selecione uma data</mat-label>
      <input matInput type="date" [formControl]="restoreDateControl" required>
    </mat-form-field>
  </div>


  <div class="buttons" fxLayoutAlign="center center" *ngIf="showTables">
    <button mat-stroked-button class="btn-success btn-spancer first-child" (click)="generate()"
      style="width: 20%; margin-top: 1rem;">
      <span *ngIf="actionControl.value === 1">
        <fa-icon [icon]="faFileDownload"></fa-icon> Backup
      </span>

      <span *ngIf="actionControl.value === 2">
        <fa-icon [icon]="faFileUpload"></fa-icon> Restore
      </span>
    </button>

  </div>



  <div fxLayout="column " fxLayoutAlign="center center" *ngIf="showLoadingData">
    <ul>
      <li *ngFor="let table of tablesSelectedNames" class="tables-name">
        <span>
          {{table.nome}}
          <fa-icon [icon]="faCheck" *ngIf="!awaitResponse && !table.hasError" style=" color: #5cb85c;"
            title="Sucesso ao tentar realizar operação"></fa-icon>
          <fa-icon [icon]="faTimes" *ngIf="!awaitResponse && table.hasError" style="color: #bb2124;"
            title="Erro ao tentar realizar operação"></fa-icon>
          <img src="../../../assets/spinner.gif" alt="spinner" *ngIf="awaitResponse">
        </span>
      </li>
    </ul>
    <button mat-stroked-button class="btn-sismed btn-spacer" style="margin-top: 1rem;" *ngIf="showNewOperationButton"
      (click)="resetPage()">
      <fa-icon [icon]="faDataBase"></fa-icon> Realizar nova operação
    </button>
  </div>
</mat-card-content>