ul {
  list-style-type: none;
  margin-top: 4px;
}

.dialog-buttons {
  width: 100%;
  align-items: center;
  justify-content: center;
}

h5 {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.3rem;
  width: 100%;
}
