<div fxLayout="row" fxLayoutAlign="end start">
  <button mat-dialog-close mat-icon-button class="closeButton" title="Fechar">
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="convenioSelect">
  <mat-form-field appearance="outline" style="width: 90%">
    <mat-label>Selecione o Convênio</mat-label>
    <mat-select [(ngModel)]="convenioSelected" (selectionChange)="getTipos()">
      <mat-option *ngFor="let convenio of convenios" [value]="convenio.id">
        {{ convenio.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayout="column" fxLayoutAlign="space-evenly center" *ngIf="hasData">
  <ul>
    <li>
      <mat-checkbox
        [checked]="allSelected"
        (change)="selectedAll()"
        [indeterminate]="someComplete()"
      >
        {{ allSelected ? "Desmarcar Todos" : "Selecionar Todos" }}
      </mat-checkbox>
    </li>
    <li *ngFor="let tipo of tipos">
      <mat-checkbox
        [(ngModel)]="tipo.selected"
        (ngModelChange)="updateAllComplete()"
      >
        {{ tipo.nome }}
      </mat-checkbox>
    </li>
  </ul>

  <div fxLayout="row" class="dialog-buttons">
    <mat-dialog-actions>
      <button
        type="button"
        class="btn-success"
        mat-stroked-button
        (click)="delete()"
      >
        <fa-icon [icon]="faCheck"></fa-icon> Excluir
      </button>
    </mat-dialog-actions>
  </div>
</div>

<!-- Exibe os tipos de convenios selecionados -->
<div
  fxLayout="column "
  fxLayoutAlign="center center"
  *ngIf="showLoadingData"
  class="loading-data"
>
  <h5 fxLayoutAlign="center center">Excluindo Planos</h5>
  <ul>
    <li *ngFor="let table of tablesSelectedNames" class="tables-name">
      <span>
        {{ table.nome }}
        <fa-icon
          [icon]="faCheck"
          *ngIf="!awaitResponse && !table.hasError"
          style="color: #5cb85c"
          title="Sucesso ao tentar realizar operação"
        ></fa-icon>
        <fa-icon
          [icon]="faTimes"
          *ngIf="!awaitResponse && table.hasError"
          style="color: #bb2124"
          title="Erro ao tentar realizar operação"
        ></fa-icon>
        <img
          src="../../../assets/spinner.gif"
          alt="spinner"
          *ngIf="awaitResponse"
        />
      </span>
    </li>
  </ul>
  <button
    mat-stroked-button
    class="btn-sismed btn-spacer"
    style="margin-top: 1rem"
    (click)="newOperation()"
    *ngIf="showNewOperationButton"
  >
    <fa-icon [icon]="faPlus"></fa-icon> Realizar nova operação
  </button>
</div>

<div
  id="loading-data"
  fxLayoutAlign="space-between center"
  fxLayout="column"
  *ngIf="isLoading"
>
  <app-loading-data [message]="loadingDataMessage"></app-loading-data>
</div>
