h5 {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 15px;
}
.convenioButtons {
  margin-top: 20px;
}

.convenioButtons > * {
  margin: 5px;
  width: 100%;
}
