<form [formGroup]="formAgenda" #frm="ngForm" (ngSubmit)="save(frm)" *ngIf="!isLoading">
  <mat-card-title class="mat-card-title">
    <div>
      <span> <strong>Edição | </strong> Agendamento</span>

      <button type="submit" mat-stroked-button class="btn-success float-right" title="Atualizar Agendamento"
        [disabled]="frm.invalid" *ngIf="isEditing">
        <fa-icon [icon]="faCheck"></fa-icon> Salvar
      </button>

      <button mat-stroked-button class="btn-danger btn-spacer float-right" title="Cancelar edição" *ngIf="isEditing"
        (click)="cancelEditing()">
        <fa-icon [icon]="faBan"></fa-icon> Cancelar
      </button>

      <button mat-stroked-button class="btn-success float-right" title="Editar Agendamento" *ngIf="!isEditing"
        (click)="unblockFields()">
        <fa-icon [icon]="faPencilAlt"></fa-icon> Editar
      </button>

      <a mat-stroked-button class="btn-danger btn-spacer float-right" title="Excluir Agendamento" (click)="delete()"
        *ngIf="!isEditing">
        <fa-icon [icon]="faTimes"></fa-icon> Excluir
      </a>

      <a mat-stroked-button [routerLink]="['/agenda']" title="Voltar à Agenda"
        class="btn-sismed btn-spacer float-right">
        <fa-icon [icon]="faChevronLeft"></fa-icon> Voltar
      </a>
    </div>
  </mat-card-title>

  <mat-card-content>
    <!--Div que ocupa 100% do card-->
    <div fxLayout="row" fxLayoutAlign="center start">
      <!-- Column 1 -->
      <div class="form">
        <h5 fxLayoutAlign="center start">Paciente</h5>
        <!--Nome Input-->
        <mat-form-field appearance="fill">
          <mat-label>Prontuário</mat-label>
          <input matInput value="{{ paciente.prontuario }}" disabled />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput value="{{ paciente.nome }}" disabled />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Cônvenio</mat-label>
          <input matInput value="{{
            agendamento.paciente.tipoConvenio.convenio.nome === 'PARTICULAR'
            || agendamento.paciente.tipoConvenio.convenio.nome === 'NÃO INFORMADO'
              ? agendamento.paciente.tipoConvenio.convenio.nome
              : agendamento.paciente.tipoConvenio.convenio.nome +
                ' - ' +
                agendamento.paciente.tipoConvenio.nome
          }}" disabled />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>CPF</mat-label>
          <input matInput value="{{
              paciente.cpf === null ? 'NÃO CADASTRADO' : paciente.cpf
            }}" disabled />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>RG</mat-label>
          <input matInput value="{{ paciente.rg === null ? 'NÃO CADASTRADO' : paciente.rg }}" disabled />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput value="{{
              agendamento.paciente.dataNascimento === null
              ? 'NÃO CADASTRADO'
              : agendamento.paciente.dataNascimento | date: 'dd/MM/yyyy' }}" disabled />
        </mat-form-field>
      </div>

      <!-- Column 2-->
      <div class="form">
        <h5 fxLayoutAlign="center start">Médico</h5>

        <mat-form-field appearance="fill">
          <mat-label>Medicos</mat-label>
          <mat-select [formControl]="formAgenda.controls.funcionario"
            (selectionChange)="getConvenios(); getMedicoDetails()" autofocus="autofocus">
            <mat-option *ngFor="let medico of medicos" [value]="medico.id">{{
              medico.nome
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>CRM</mat-label>
          <input matInput value="{{ agendamento.funcionario.crm }}" disabled />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Especialidade</mat-label>
          <input matInput value="{{ agendamento.funcionario.especialidade }}" disabled />
        </mat-form-field>
      </div>
      <!-- Column 3-->
      <div class="form">
        <h5 fxLayoutAlign="center start">Agendamento</h5>

        <mat-form-field appearance="fill">
          <mat-label>Convenio</mat-label>
          <mat-select [formControl]="convenioControl" (selectionChange)="getTiposConvenio(); getProcedimentos()"
            required>
            <mat-option *ngFor="let convenio of convenios" [value]="convenio.id">{{ convenio.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Plano</mat-label>
          <mat-select [formControl]="this.formAgenda.controls.tipoConvenio">
            <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">{{
              tipo.nome
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Procedimento</mat-label>
          <mat-select [formControl]="this.formAgenda.controls.procedimento">
            <mat-option *ngFor="let procedimento of procedimentos" [value]="procedimento.id">
              {{ procedimento.descricao }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Data do Atendimento</mat-label>
          <input matInput type="date" autocomplete="off" [formControl]="formAgenda.controls.data" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora do Atendimento</mat-label>
          <input matInput type="time" autocomplete="off" [formControl]="formAgenda.controls.hora" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Observação</mat-label>
          <textarea matInput formControlName="observacao" (keyup)="toUpperCase($event)" cdkTextareaAutosize
            cdkAutosizeMinRows="7" cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</form>

<div id="loading-data" fxLayoutAlign="space-between center" fxLayout="column" *ngIf="isLoading">
  <app-loading-data [message]="loadingDataMessage"></app-loading-data>
</div>
