.header{
  background-color: #f3f3f3;
  padding: 10px 20px;
  border-radius: 10px;
}

form{
  padding: 3rem;
}

.fields > * {
  width: 25%;
}

.fields mat-form-field + mat-form-field{
  margin-top: 1.4rem;
}

.btn-login{
  height: 3rem;
}

.btn-login::hover{
  background-color: #04BF58;
}

.forgotPassword{
  margin-top: 1rem;
  text-decoration: none;
  cursor: pointer;
}
