<div *ngIf="isLoggedIn && !changePassword">
  <div class="topnav">
    <app-toolbar></app-toolbar>
  </div>
  <div style="padding: 2%;">
    <ng-container style="margin: 0.5%">
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </ng-container>
  </div>
</div>


<div style="padding: 2%;" *ngIf="!isLoggedIn">
  <ng-container style="margin: 0.5%">
    <mat-card>
      <app-login *ngIf="!isLoggedIn && !changePassword"></app-login>

    </mat-card>
  </ng-container>
</div>
