<form [formGroup]="formConvenio" #frm="ngForm" (ngSubmit)="save(frm)">
  <mat-card-title class="mat-card-title">
    <div>
      <span> <strong>Cadastro | </strong> Convênio </span>

      <button
        mat-stroked-button
        class="btn-success float-right"
        [disabled]="frm.invalid"
      >
        <fa-icon [icon]="faCheck"></fa-icon> Salvar
      </button>
      <a
        mat-stroked-button
        [routerLink]="['/convenios']"
        title="Listar os convenios"
        class="btn-sismed btn-spacer float-right"
      >
        <fa-icon [icon]="faChevronLeft"></fa-icon> Voltar
      </a>
    </div>
  </mat-card-title>

  <mat-card-content>
    <!--Div que ocupa 100% do card-->
    <div fxLayout="column" fxLayoutAlign="center center">
      <!--Div do formulario-->
      <div class="form" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Ex:amil"
            (keypress)="onlyLetters($event)"
            (keyup)="toUpperCase($event)"
            formControlName="nome"
            autocomplete="off"
            maxlength="45"
            autofocus="autofocus"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>CNPJ</mat-label>
          <input
            matInput
            placeholder="Ex. 29.309.127/0001-79"
            mask="00.000.000/0000-00"
            formControlName="cnpj"
            autocomplete="off"
            maxlength="45"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>ANS</mat-label>
          <input
            matInput
            placeholder="Ex. 321321"
            formControlName="registro_ans"
            mask="000000"
            autocomplete="off"
            maxlength="45"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Data de Adesão</mat-label>
          <input matInput type="date" formControlName="data_adesao" required />
        </mat-form-field>
        <div formGroupName="dados_bancarios" class="dadosBancariosFields">
          <mat-form-field appearance="fill">
            <mat-label>Banco</mat-label>
            <input
              matInput
              placeholder="Ex:123"
              formControlName="banco"
              autocomplete="off"
              maxlength="3"
              mask="000"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Agência</mat-label>
            <input
              matInput
              placeholder="Ex:1234"
              formControlName="agencia"
              autocomplete="off"
              maxlength="4"
              mask="0000"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Conta</mat-label>
            <input
              matInput
              placeholder="Ex:12345-6"
              formControlName="conta"
              autocomplete="off"
              maxlength="7"
              mask="00000-0"
              required
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-content>
</form>
