<div>
  <div id="divBusca">
    <button id="btn_search">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
    <input [(ngModel)]="searchText" (input)="onSearch()" #searchInput [type]="inputType" id="txtBusca"
      placeholder="{{ placeholder }}" autocomplete="off" />
    <div class="dropdown" id="btn_dropDown">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="btn dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown">
        <fa-icon [icon]="faSortDown"></fa-icon>
      </button>
      <mat-menu #menu="matMenu" class="dropdown-menu">
        <button mat-menu-item [ngClass]="{active: input === 1}" type="button" value="1"
          (click)="onChangeSearchSelector(1)">
          <span>Nome</span>
        </button>
        <button mat-menu-item [ngClass]="{active: input === 2}" type="button" value="2"
          (click)="onChangeSearchSelector(2)">
          <span>Prontuário</span>
        </button>
        <button mat-menu-item [ngClass]="{active: input === 3}" type="button" value="3"
          (click)="onChangeSearchSelector(3)">
          <span>Data</span>
        </button>

      </mat-menu>
    </div>
  </div>
  <mat-card-title class="mat-card-title">

    <span> <strong>Lista | </strong> Registros Clínicos </span>

  </mat-card-title>

  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">


        <ng-container matColumnDef="prontuario">
          <th mat-header-cell *matHeaderCellDef>Prontuário</th>
          <td mat-cell *matCellDef="let element" title="Prontuário do paciente">
            <a [routerLink]="['/paciente', element.prontuario]">{{element.prontuario}}</a>
          </td>
        </ng-container>


        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/registroclinico', element.prontuario]"
              title="Clique para cadastrar um registro clinico para o paciente {{element.nome}}">{{element.nome}}</a>

          </td>
        </ng-container>


        <ng-container matColumnDef="registros">
          <th mat-header-cell *matHeaderCellDef>Registros Clinicos</th>
          <td mat-cell *matCellDef="let element">
            <a *ngIf="element.quantidade" title="ABRIR TODOS OS REGISTROS CLINICOS DO PACIENTE {{element.nome}}"
              (click)="openClinicalRegister(element.prontuario, element.nome)">Abrir
              registos</a>
            <label *ngIf="!element.quantidade">Nenhum registro clinico cadastrado</label>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

    </div>
  </mat-card-content>

</div>
