<form [formGroup]="formRegistroClinico" #frm="ngForm" (ngSubmit)="onSubmit(frm)" *ngIf="formRegistroClinico">
    <mat-card-title class="mat-card-title">
        <div>
            <span> <strong>Cadastro | </strong> Registro Clinico </span>

            <button mat-stroked-button class="btn-success float-right" title="Salvar informações">
                <fa-icon [icon]="faCheck"></fa-icon> Salvar
            </button>
            <a mat-stroked-button [routerLink]="['/registroclinico']" title="Listar os funcionários"
                class="btn-sismed btn-spacer float-right">
                <fa-icon [icon]="faChevronLeft"></fa-icon> Voltar
            </a>
        </div>
    </mat-card-title>

    <mat-card-content>
        <!--Div que ocupa 100% do card-->
        <div class="form">
        <!-- Column 1 -->
            <div class="form-row">
                <mat-form-field appearance="outline">
                    <mat-label>Prontuário</mat-label>
                    <input matInput formControlName="prontuario" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Nome do paciente</mat-label>
                    <input matInput formControlName="nome" type="text" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Convênio</mat-label>
                    <input matInput formControlName="convenio" autocomplete="off" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Plano</mat-label>
                    <input matInput formControlName="tipoConvenio" autocomplete="off" maxlength="45" />
                </mat-form-field>
            </div>
            <!-- column 2 -->
            <div class="form-row">
                <mat-form-field appearance="outline" style="width: 72%; padding: 5px;">
                    <mat-label>Descrição</mat-label>
                    <textarea matInput formControlName="descricao" style="resize: none;" rows="7"></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>

</form>

<h3>Atendimentos anteriores</h3>

<table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="prontuario">
        <th mat-header-cell *matHeaderCellDef>Nº do registro</th>
        <td mat-cell *matCellDef="let element" title="Prontuário">
            {{element.id}}
        </td>
    </ng-container>


    <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Desc do último atendimento</th>
        <td mat-cell *matCellDef="let element">
            {{element.descricao}}
        </td>
    </ng-container>


    <ng-container matColumnDef="func_nome">
        <th mat-header-cell *matHeaderCellDef>Médico</th>
        <td mat-cell *matCellDef="let element">
            {{element.func_nome}}</td>
    </ng-container>


    <ng-container matColumnDef="especialidade">
        <th mat-header-cell *matHeaderCellDef>Especialidade</th>
        <td mat-cell *matCellDef="let element">
            {{ element.especialidade }}</td>
    </ng-container>


    <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">
            {{ element.data | date: 'dd/MM/yyyy' }}
        <td>
    </ng-container>

    <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef>Hora</th>
        <td mat-cell *matCellDef="let element">
            {{ element.hora }}
        <td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>