<form [formGroup]="formRegistroClinico" #frm="ngForm" (ngSubmit)="onSubmit(frm)" *ngIf="formRegistroClinico">
  <mat-card-title class="mat-card-title">
    <div>
      <span> <strong>Edição | </strong> Registro </span>

      <button type="submit" mat-stroked-button class="btn-success float-right" title="Atualizar convênio">
        <fa-icon [icon]="faCheck"></fa-icon> Salvar
      </button>



      <a mat-stroked-button class="btn-danger btn-spacer float-right" title="Excluir Convênio"
        (click)="deleteRegistro()">
        <fa-icon [icon]="faTimes"></fa-icon> Excluir
      </a>

      <a mat-stroked-button [routerLink]="['/convenios']" title="Listar os convênios"
        class="btn-sismed btn-spacer float-right">
        <fa-icon [icon]="faChevronLeft"></fa-icon> Voltar
      </a>
    </div>
  </mat-card-title>

  <mat-card-content>
    <!--Div que ocupa 100% do card-->
    <div fxLayout="row" fxLayoutAlign="center center">
      <!-- Column 1 -->
      <div class="form">
        <mat-form-field appearance="outline">
          <mat-label>Prontuário</mat-label>
          <input matInput value="{{this.registroClinico.paciente.prontuario}}" disabled />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nome do paciente</mat-label>
          <input matInput value="{{this.registroClinico.paciente.nome}}" disabled />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Convênio</mat-label>
          <input matInput value="{{this.registroClinico.paciente.tipoConvenio.convenio.nome}}" disabled />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Plano</mat-label>
          <input matInput value="{{this.registroClinico.paciente.tipoConvenio.nome}}" disabled />
        </mat-form-field>
      </div>
      <!-- column 2 -->
      <div class="form">
        <mat-form-field appearance="outline" style="width: 72%; padding: 5px;">
          <mat-label>Descrição</mat-label>
          <textarea matInput formControlName="descricao" (keyup)="toUpperCase($event)" cdkTextareaAutosize
            cdkAutosizeMinRows="16" cdkAutosizeMaxRows="5" required></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>

</form>
