ul {
  list-style-type: none;
  margin-top: 4px;
}
h5 {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.3rem;
  width: 100%;
}

.loading-data ul {
  margin-top: 1.5rem;
}

.loading-data button {
  margin-top: 1.5rem;
}

.tables-name ul li span + span {
  margin-top: 1rem;
  font-size: 15px;
}
