<div>
    <div id="divBusca">
        <button id="btn_search">
            <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <input [(ngModel)]="searchText" (input)="onChooseSearchMethod()" #searchInput type="text" id="txtBusca"
            placeholder="{{ placeholder }}" autocomplete="off" />
        <div class="dropdown" id="btn_dropDown">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="btn dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown">
                <fa-icon [icon]="faSortDown"></fa-icon>
            </button>
            <mat-menu #menu="matMenu" class="dropdown-menu">
                <button mat-menu-item [ngClass]="{active: input === 1}" type="button" value="1"
                    (click)="onChangeSearchSelector(1)">
                    <span>Nome</span>
                </button>
                <button mat-menu-item [ngClass]="{active: input === 2}" type="button" value="2"
                    (click)="onChangeSearchSelector(2)">
                    <span>CPF</span>
                </button>
                <button mat-menu-item [ngClass]="{active: input === 3}" type="button" value="3"
                    (click)="onChangeSearchSelector(3)">
                    <span>CRM</span>
                </button>
                <button mat-menu-item [ngClass]="{active: input === 4}" type="button" value="4"
                    (click)="onChangeSearchSelector(4)">
                    <span>Celular</span>
                </button>
                <button mat-menu-item [ngClass]="{active: input === 5}" type="button" value="5"
                    (click)="onChangeSearchSelector(5)">
                    <span>Matricula</span>
                </button>
                <button mat-menu-item [ngClass]="{active: input === 6}" type="button" value="6"
                    (click)="onChangeSearchSelector(6)">
                    <span>Especialidade</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <mat-card-title class="mat-card-title">

        <span> <strong>Lista | </strong> Funcionarios </span>

        <a class="btn-success float-right" mat-stroked-button [routerLink]="['/funcionarios/register']"
            title="Cadastrar funcionario" *ngIf="user.perfil === 3">
            <fa-icon [icon]="faPlus"></fa-icon> Cadastrar
        </a>

    </mat-card-title>

    <mat-card-content>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" *ngIf="!isLoading && isFuncionarioNotEmpty">

                <!-- Matricula Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Matricula</th>
                    <td mat-cell *matCellDef="let element" title="Matricula do funcionario">{{element.id}}</td>
                </ng-container>

                <!-- Nome Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef>Nome</th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/funcionario', element.id]"
                            title="Clique para editar o funcionario {{element.nome}}">{{element.nome}}</a>
                    </td>
                </ng-container>

                <!-- CPF Column -->
                <ng-container matColumnDef="cpf">
                    <th mat-header-cell *matHeaderCellDef>CPF</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.cpf === null ? 'Não Cadastrado' : element.cpf | CPF}}</td>
                </ng-container>

                <!-- CRM Column -->
                <ng-container matColumnDef="crm">
                    <th mat-header-cell *matHeaderCellDef>CRM</th>
                    <td mat-cell *matCellDef="let element">{{element.crm === null ? 'Não possui': element.crm}}</td>
                </ng-container>

                <!-- Especialidade Column -->
                <ng-container matColumnDef="especialidade">
                    <th mat-header-cell *matHeaderCellDef>Especialidade</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.especialidade === null ? 'Não possui' : element.especialidade }}
                    <td>
                </ng-container>

                <!-- Telefone Column -->
                <ng-container matColumnDef="telefone_fixo">
                    <th mat-header-cell *matHeaderCellDef>Telefone</th>
                    <td mat-cell *matCellDef="let element">{{element.telefone_fixo | telefone}}</td>
                </ng-container>

                <!-- Celular Column -->
                <ng-container matColumnDef="celular">
                    <th mat-header-cell *matHeaderCellDef>Celular</th>
                    <td mat-cell *matCellDef="let element">{{element.celular | celular}}</td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">{{element.email}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

            <div fxLayout="column" fxLayoutAlign="space-around center">
                <!--Mensagem que aparece quando a pesquisa retorna nula-->
                <span *ngIf="showEmptyMessage" class="message">
                    Nenhum dado encontrado
                </span>

                <!-- Mensagem que aparece quando ocorre um erro ao recuperar os dados do back-end-->
                <span *ngIf="hasError && !isLoading" class="message-danger">
                    Erro ao tentar carregar a lista de dados
                </span>
                <div>
                    <!--Spinner que aparece enquando a lista não é carregada-->
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                    <span style="margin-top: 10px;" *ngIf="isLoading">Carregando dados</span>
                </div>
            </div>
        </div>
    </mat-card-content>
</div>